	<header class="navbar navbar-dark navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "OnTheGo", root_path, class:"navbar-brand sitename" %>
			</div>
			<nav class="sitenav collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<!--				
				<ul class="nav pull-right">
              		<li><%= link_to "Sign in", '#' %></li>
				</ul>
			-->
			</nav>
		</div>
	</header>
